<div class="editor-tooltip">
    <p class="method"><span class="returnType"><%= returnType %></span> <%= name %>(<% _.forEach(fields, function(field, idx){ %><% if(idx>0){ %>, <% } %><span class="fieldType"><%= field.type %></span> <span class="fieldName"><%= field.name %></span><% }); %>)</p>
    <% if(!!belong) { %>
    <p class="include"><%= label.include %>: <%- belong %></p>
    <% } %>
    <p class="desc"><%= label.description %>: <%= desc %></p>
    <br/>
    <% if(fields.length > 0) { %>
        <label class="fields-label"><%= label.fields %>:</label>
        <ul class="fields">
            <% _.forEach(fields, function(field){ %> <li class="field"><<%= field.type %>> <%= field.name %>: <%= field.desc %></li> <% }); %>
        </ul>
    <% } %>
</div>
